<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        textarea {
            resize: none;
        }
    </style>

</head>
<body>

    @model E_Journal.Models.Journal

    @{
        ViewData["Title"] = "Create";
    }

    <div>
        <h3 class="display-4">Create New Note</h3>

    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label font-weight-bold">Note Title</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label font-weight-bold">Note Details</label>
                    <textarea asp-for="Message" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>