<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .card-title {
            font-weight: 700;
            font-family: 'Lobster Two', cursive;
            border-bottom: 1px solid #333;
            padding-bottom: 3px;
        }

        .card-text {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            text-align: justify;
            line-height: 1.6em;
        }

        #delete-post {
            display: inline-block;
        }

            #delete-post h3 {
                border: 1px solid #1d3557;
                padding: 7px;
                position: relative;
                border-radius: 50px;
                margin: 0;
                background-color: #ff0000;
                padding-bottom: 10px;
                font-weight: 600;
                color: #343434;
                font-size: 1.4em;
            }
    </style>
</head>
<body>
    @model E_Journal.Models.Journal

    @{
        ViewData["Title"] = "Delete";
    }
    <div id="delete-post">
        <h3>Are you sure to delete this?</h3>
    </div>
    
    <div>
        <hr />
        <div class="card" style="width: 100%; background-color: #EDF6F9; ">

            <div class="card-body">
                <h2 class="card-title" style="font-weight: 700; font-family: Raleway; border-bottom: 1px solid #333; padding-bottom: 3px;">@Html.DisplayFor(model => model.Title)</h2>
                <p class="card-text multi-line" id="note-body" >@Html.DisplayFor(model => model.Message)</p>
            </div>
        </div>
        <div class="dlt-note">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</body>
</html>
